@import "../../../styles.scss";

.search-bar {
  @extend .flex;
  padding: 0px 20px 50px;
}

.search-input-box {
  @extend .theme-bg-light;

  border-radius: 50px;
  padding: 0px 50px 10px;
}

.no-data {
  @extend .flex;
  @extend .theme-color;
  font-size: 20px;

  span {
    padding-left: 10px;
  }
}
