@import "../../../styles.scss";

.error {
  @extend .flex;
  @extend .theme-color;
  font-size: 20px;

  span {
    padding-left: 10px;
  }
}

@media screen and (max-width: 768px) {
  .error {
    flex-direction: column;
  }
}
