<div class="flex">
  <app-api-loading *ngIf="apiLoading"></app-api-loading>
  <app-api-error *ngIf="apiError">collecties</app-api-error>

  <div class="gallery-box" *ngIf="artObjects">
    <div class="art-box-wrapper" *ngFor="let art of artObjects">
      <div class="art-box-card" [routerLink]="['/art-details', art.objectNumber]">
        <img [src]="art.webImage.url" />
        <span class="title">{{ art.title }}</span>
        <span class="artist"> <span>by</span> {{ art.principalOrFirstMaker }}</span>
      </div>
    </div>
  </div>
</div>