@import "../../../styles.scss";

.gallery-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.art-box {
  box-sizing: border-box;
  flex: 33.33%;

  @extend .flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 50px;
  color: rgb(53, 35, 7);
  border: 1px solid rgb(255, 255, 255, 0.3);
  text-align: center;

  img {
    width: 350px;
    height: 350px;
    object-fit: cover;
  }

  .title {
    font-size: 30px;
  }
  .artist {
    font-size: 20px;
    color: black;
  }
}
