@import "../../../styles.scss";

.developed-by {
  @extend .theme-color;

  margin: 100px 50px 0;
  padding: 20px;
  text-align: center;
  text-shadow: 1px 1px 3px #4d4d4d;

  a {
    text-decoration: none;
    color: inherit;
  }
}
