<div class="art-details-wrapper">
  <app-back-button></app-back-button>
  <app-page-title>Kunstwerken Details</app-page-title>

  <app-api-loading *ngIf="apiLoading$ | async"></app-api-loading>
  <app-api-error *ngIf="apiError$ | async">kunstwerken</app-api-error>

  <ng-container *ngIf="artObjectDetails$ | async as artObjectDetails">
    <div>title : {{ artObjectDetails.title }}</div>
    <div>presenting Date : {{ artObjectDetails.dating.presentingDate }}</div>
    <div>description : {{ artObjectDetails.description }}</div>
    <div>long Title : {{ artObjectDetails.longTitle }}</div>
    <div>plaque Description : {{ artObjectDetails.plaqueDescriptionDutch }}</div>
    <div>Maker : {{ artObjectDetails.principalOrFirstMaker }}</div>
    <img [src]="artObjectDetails.webImage.url" />
  </ng-container>
</div>