<div class="" routerLink="/home">
  <button mat-fab color="primary" aria-label="Back">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Back</span>
</div>

<div class="">
  <ng-container *ngIf="apiLoading$ | async">
    <mat-spinner diameter="30"></mat-spinner><br />
    loading...
  </ng-container>
  <ng-container *ngIf="apiError$ | async">
    <div class="error" id="error-block">
      <mat-icon>error_outline</mat-icon>
      <br /> Failed to get collection details.
    </div>
  </ng-container>
  <ng-container *ngIf="artDetails$ | async as artDetails">
    <div>title : {{ artDetails.title }}</div>
    <div>presenting Date : {{ artDetails.dating.presentingDate }}</div>
    <div>description : {{ artDetails.description }}</div>
    <div>long Title : {{ artDetails.longTitle }}</div>
    <div>plaque Description : {{ artDetails.plaqueDescriptionDutch }}</div>
    <div>Maker : {{ artDetails.principalOrFirstMaker }}</div>
    <img [src]="artDetails.webImage.url" />
  </ng-container>
</div>